@model IEnumerable<State>

@{
    ViewData["Title"] = "Página Inicial";
}

<div>
    <h1 class="display-4">Estados Brasileiros</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Estado</th>
                <th scope="col">Sigla</th>
                <th scope="col">País</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var state in Model)
        {
            <tr>
                <td scope="row">@state.Id</td>
                <td>@state.Name</td>
                <td>@state.Acronym</td>
                <td>@state.Country?.Name</td>
            </tr>
        }
        </tbody>
    </table>
</div>
